@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   font-family: 'Roboto Condensed', sans-serif;
}
h1,
h2,
h3,
body,
p {
   margin: 0;
}

.container {
   width: 1140px;
   margin: 0 auto;
}

.show {
   display: block;
}
.hide {
   display: none;
}

.title {
   font-family: 'Roboto';
   text-align: center;
   font-size: 26px;
   line-height: 23px;
   font-weight: 700;
   text-transform: uppercase;
   color: #2e2e2e;
}

.descr {
   font-family: 'Roboto';
   font-size: 14px;
   font-weight: 300;
   color: #3a3a3a;
}
@import 'base/variables';
@import 'base/mixins';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'base/media';
