@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

@import 'base/variables';
@import 'base/mixins';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/logistics';
@import 'blocks/agent';
@import 'blocks/delivery';

* {
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   font-family: 'Roboto Condensed', sans-serif;
}
h1,
h2,
h3,
body,
p {
   margin: 0;
}

.container {
   width: 1140px;
   margin: 0 auto;
}

.show {
   display: block;
}
.hide {
   display: none;
}

.title {
   font-family: 'Roboto';
   text-align: center;
   font-size: 26px;
   line-height: 23px;
   font-weight: 700;
   text-transform: uppercase;
   color: #2e2e2e;
}

.descr {
   font-family: 'Roboto';
   font-size: 14px;
   font-weight: 300;
   color: #3a3a3a;
   &_center {
      text-align: center;
   }
}

.topic {
   margin-bottom: 7px;
   font-family: 'Roboto';
   font-size: 16px;
   line-height: 22px;
   font-weight: 700;
   color: $main-color;
}
.topic_center {
   text-align: center;
}

.divider {
   width: 148px;
   height: 1px;
   background-color: $main-color;
   margin: 18px auto;
}

.subtitle {
   margin: 0 auto;
   max-width: 880px;
   text-align: center;
   font-family: Roboto;
   font-size: 21px;
   line-height: 24px;
   font-weight: 300;
   color: #2e2e2e;
}

.icon {
   display: block;
   margin: 0 auto;
}

.header {
   margin: 20px 0;
   font-family: Roboto;
   text-align: center;
   font-size: 26px;
   line-height: 23px;
   font-weight: 700;
   color: #ffffff;
}
.subheader {
   margin: 0 auto;
   text-align: center;
   font-family: Roboto;
   max-width: 1000px;
   font-size: 19px;
   line-height: 27px;
   font-weight: 300;
   color: #ffffff;
}

@import 'base/media';
