.algorithm {
   padding: 60px 0;
   &__wrapper {
      position: relative;
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(4, minmax(auto, 260px));
      grid-template-rows: repeat(2, minmax(144px, auto));
      justify-content: space-between;
      &-item {
         img {
            display: block;
            margin: 0 auto 10px auto;
         }
         h3 {
            text-align: center;
         }
      }
   }
}
.down {
   position: absolute;
   bottom: -30px;
   width: 260px;
   height: 144px;
   &_1 {
      left: 25%;
      transform: translateX(-50%);
   }
   &_2 {
      left: 50%;
      transform: translateX(-50%);
   }
   &_3 {
      left: 75%;
      transform: translateX(-50%);
   }
}
