.btn {
   background-color: $main-color;
   border-radius: 20px;
   border: none;
   color: #fff;
   line-height: 22px;
   font-weight: 400;
   height: 45px;
   font-size: 12px;
   font-family: 'Roboto';
   text-transform: uppercase;
   cursor: pointer;
   &_small {
      width: 160px;
   }
   &_big {
      display: block;
      margin: 40px auto 0 auto;
      width: 230px;
      height: 57px;
      font-size: 15px;
      line-height: 17px;
      font-weight: 700;
   }
   &_form {
      padding-top: 3px;
      width: 180px;
      position: absolute;
      bottom: -15%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      &-down {
         bottom: 25px;
      }
   }
}
.back {
   position: absolute;
   bottom: 25px;
   left: calc(50% - 10px);
   transform: translateX(-50%);
}
.next {
   display: block;
   margin: 25px auto;
}
