.btn {
   background-color: $main-color;
   border-radius: 20px;
   border: none;
   color: #fff;
   font-family: 'Roboto';
   text-transform: uppercase;
   cursor: pointer;
}
.btn_small {
   width: 160px;
   height: 45px;
   font-size: 12px;
   line-height: 22px;
   font-weight: 400;
}
.btn_big {
   display: block;
   margin: 40px auto 0 auto;
   width: 230px;
   height: 57px;
   font-size: 15px;
   line-height: 17px;
   font-weight: 700;
}
